<div class="row mt-1">
  <div class="col-md-12">

    <!-- Stepers Wrapper -->
    <ul class="stepper stepper-vertical">

      <!-- First Step -->
      <li class="completed">
        <a href="#!">
          <span class="circle">1</span>
          <span class="label">Preflight</span>
        </a>
      </li>

      <!-- Second Step -->
      <li class="active">

        <!--Section Title -->
        <a href="#!">
          <span class="circle">2</span>
          <span class="label">הכנס תמונה של המטוס עם חימושים</span>
        </a>

      </li>

      <!-- Third Step -->
      <li class="">
        <a href="#!">
          <span class="circle">3</span>
          <span class="label">גיחה</span>
        </a>
      </li>

      <!-- Fourth Step -->
      <li>
        <a href="#!">
          <span class="circle">4</span>
          <span class="label">הכנס תמונה של המטוס לאחר הטיסה</span>
        </a>
      </li>

      <li>
        <a href="#!">
          <span class="circle">5</span>
          <span class="label">חתימה סופית</span>
        </a>
      </li>

    </ul>
    <!-- /.Stepers Wrapper -->

  </div>
</div>

<!-- Steppers Navigation -->
<div class="row mt-1">
  <div class="col-md-12 text-right">
    <button mdbBtn  size="sm">Cancel</button>
    <button mdbBtn  size="sm">Next</button>
  </div>
</div>
<!-- /.Vertical Steppers -->
